## Core latex/pdflatex auxiliary files:
**.aux
**.lof
**.log
**.lot
**.fls
**.ist
**.out
**.toc
**.fmt
**.fot
**.cb
**.cb2

## Bibliography auxiliary files (bibtex/biblatex/biber):
**.bbl
**.bcf
**.blg
**-blx.aux
**-blx.bib
**.run.xml
**.pyg

## Build tool auxiliary files:
**.fdb_latexmk
**.synctex
**.synctex(busy)
**.synctex.gz
**.synctex.gz(busy)
**.pdfsync

# glossaries
**.acn
**.acr
**.glg
**.glo
**.gls
**.glsdefs
entregable.pdf


x_baseband_spectrum.pdf
x_downsample_spectrum.pdf
x_downsample.pdf
xc_offset_spectrum.pdf
yd_DEP.pdf
filter_charac.pdf

.directory
__pycache__
**.pyc
**.npy
**.wav
